.movie-header
	padding: 30px 40px
	border-bottom: 1px solid #000
	background-position: right -200px top
	background-size: cover
	background-repeat: no-repeat
	.poster
		border-radius: 8px
		overflow: hidden
		img
			width: 300px
			height: 450px
