.main-title
  font-weight: 500
  margin-bottom: 20px !important

@media screen and ( min-width: 970px )
  .filters-col
    width: 21% !important
  .movies-col
    width: 79% !important

@media screen and ( min-width: 500px )
  .movies-col
    padding-left: 30px